body {
    font-family: "Lexend Mega", sans-serif;
    color: #4b606b;
    background-color: white;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    font-size: 1.5em;
}

header h1 {
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: space-around;
    
}

a {
    display: inline-block;
    padding: 10px 10px;
    color: black;
    margin: 10px 50px;
    font-size: 0.75em;
    border: 1px solid black;
    background-color: lightgray;
}

#about {
  
    background-color: #4b606b;
    color: white;
    padding: 25px 25px;
    line-height: 1.5em;
    
}

#about p {
    margin-left: 10%;
}
h1, h2{
        font-family: font-family: 'Titillium Web', sans-serif font-size: 2.5em;
        font-style: italic;
        text-align: center;
        
}

#services {    
    padding-top: 25px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right:5%;
    margin-left: 5%;
}

    .box img {
        width: 350px;
        padding: 10px;
        height: auto;
    }

    .box span {
        text-align: center;
    }

#management {
    background-color: #4b606b;
    color: white;

}
.mgt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
 
}

.member {
    padding: 10px;
    color: white;
    flex-basis: 280px;
}

.member img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;

}

#contact {
    text-align: center;
}

footer {
    background-color: #4b606b;
    color: white;
}